{{#md-card-panel id='login-card' class='rl-card'}}
  <div class="rl-card-header">
    <h3>Login</h3>
  </div>
  
  <div class="rl-card-body">
    <form {{action (action 'doLogin') on="submit"}}>
      <div class="row">{{md-input type="text" value=model.email label="Email" class="col s12"}}</div> 
      <div class="row">{{md-input type="password" value=model.password label="Password" class="col s12"}}</div> 
      {{md-btn-submit class='light' text='Login'}}
    </form>
  </div>
{{/md-card-panel}}