{{#md-card-panel id='match-card' class='rl-card'}}
  <div class="rl-card-header">
    <h3>{{title}}</h3>
  </div>
  
  <div class="rl-card-body">
    {{create-match teams=teams onCreate=(action 'createMatch')}}
    {{#md-collection content=matches class='rl-collection' as |match|}}
      {{match-item match=match}}
    {{/md-collection}}
  </div>
{{/md-card-panel}}