{{#unless match.sortedGames}} 
  <p>no games have been played.</p>
{{/unless}}

{{#md-table content=match.sortedGames class='bordered' as |game|}}
  {{#md-table-col row=game key='name' header='Game Number'}}
    {{game.gameNumber}}
  {{/md-table-col}}
  {{#md-table-col row=game key='name' header=(get match "blueTeam.name")}}
    {{game.gameNumber}}
  {{/md-table-col}}
  {{#md-table-col row=game key='name' header=(get match "orangeTeam.name")}}
    {{game.gameNumber}}
  {{/md-table-col}}
{{/md-table}}

{{!--<a class="light waves-effect waves-orange btn-flat agree-button" {{action 'addGame'}}>
  Add Game
</a>--}}