{{#unless match.sortedGames}} 
  <p class="center-align">no games have been played.</p>
{{/unless}}

{{#md-table content=match.sortedGames class='bordered' as |game|}}
  {{#md-table-col row=game key='name' header='Game Number'}}
    {{game.gameNumber}}
  {{/md-table-col}}
  {{#md-table-col row=game key='name' header=(get match "blueTeam.name")}}
    0
  {{/md-table-col}}
  {{#md-table-col row=game key='name' header=(get match "orangeTeam.name")}}
    0
  {{/md-table-col}}
{{/md-table}}

{{add-game weekNumber=match.weekNumber
  blueTeam=match.blueTeam
  orangeTeam=match.orangeTeam
  onSubmit=(action 'addGame')
  class="center-align"}}