// Fix for Roboto font path
$roboto-font-path: '../assets/';

@import 'components/color';

// Custom color settings go here
$primary-color: #1E262B;
$background-color: #222c32;
$light-color: #D8DADA;
$card-color: #2b343a;
$border-color: rgba(255, 255, 255, 0.02);

@import 'components/variables';
@import "materialize";
@import 'ember-cli-materialize';

html {
  font-weight: 300;
  font-size: 14px;
}

body {
  background-color: $background-color;
  color: $light-color;
}

nav .brand-logo {
  font-size: 1.1rem;
  font-weight: 300;
  text-transform: uppercase;
}

h3 {
  font-size: 1rem;
  font-weight: 300;
  text-transform: uppercase;
}

th {
  font-weight: 300;
  text-transform: uppercase;
}

tr {
  border-bottom: 1px solid $border-color !important;
}

.background {
  background-color: $background-color !important;
}

.primary {
  color: $primary-color !important;
}

.light {
  background-color: $light-color !important;
  color: $primary-color !important;
}

.rl-collection {
  border-color: $primary-color;

  .collapsible-header {
    font-size: 1.5em;
    padding: 20px;
    background-color: inherit;
    border-bottom-color: $primary-color;
  }

  .collapsible-body {
    border-bottom-color: $primary-color;
    background-color: $primary-color;
  }
}

.rl-card {
  background-color: $card-color;
  padding: 0;
}

.rl-card-header {
  background-color: $border-color;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 12px 25px;
}

.rl-card-body {
  position: relative;
  padding: 20px;
}

.break-edge {
  position: absolute;
  left: 85%;
  top: -25px;
}

.modal {
  overflow-y: visible;
}

.rl-tabs {
  .tabs {
    background-color: inherit;

    .tab a {
      color: #D8DADA;
    }

    .indicator {
      background-color: #D8DADA;
    }
  }
}

.space-around {
  display: flex;
  justify-content: space-around;
}